<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Entrerriano</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <header class="headerDesk">
        <div class="divTop">
             <div class="buscar">
                <input type="text" class="buscar">
             </div>
             <div class="redes">

             </div>
        </div>
        <div class="logo">
            <h1>El Entrerriano</h1>
        </div>
        <nav class="nav">
            <a href="#">Portada</a>
            <a href="#">Parana</a>
            <a href="#">Policiales</a>
            <a href="#">Política</a>
            <a href="#">Sociedad </a>
        </nav>
    </header>
    <main>
        <section class="sectionPrincipal">
            <div class="articuloUno">
            <article >
                <a href="">
                    <span class="etiquetas">Parana 1</span>
                    <div class="info">
                        <p>
                             La costanera de Paraná un excelente lugar para estas vacaciones 
                        </p>
                    </div>
                    <div class="divImg">       
                         <img src="../public/image/pediatria.jpg" alt=" costanera baja de Paraná">
                    </div>
                  </a>
            </article>
        </div>
        <div class="articuloDos">
            <article >
                <a href="">
                    <span class="etiquetas">Parana 2</span>
                    <div class="info">
                        <p>
                             La costanera de Paraná un excelente lugar para estas vacaciones 
                        </p>
                    </div>
                        
                         <img src="../public/image/costanera-baja.jpg" alt=" costanera baja de Paraná">
                  
                  </a>
            </article>
        </div>
        <div class="articuloTres">
            <article >
                <a href="">
                    <span class="etiquetas">Parana 3</span>
                    <div class="info">
                        <p>
                             La costanera de Paraná un excelente lugar para estas vacaciones 
                        </p>
                    </div>
                             
                         <img src="../public/image/costanera-baja.jpg" alt=" costanera baja de Paraná">
                 
                  </a>
            </article>
        </div>
        <div class="articuloCuatro">
            <article >
                <a href="https:www.youtube.com">
                    <span class="etiquetas">Parana 4</span>
                    <div class="info">
                        <p>
                             La costanera de Paraná un excelente lugar para estas vacaciones 
                        </p>
                    </div>
                            
                    <img src="../public/image/costanera-baja.jpg" alt=" costanera baja de Paraná">
                  
                  </a>
            </article>
        </div>
            <div class="articuloCinco">
            <article >
                <a href="">
                    <span class="etiquetas">Parana 5</span>
                    <div class="info">
                        <p>
                             La costanera de Paraná un excelente lugar para estas vacaciones 
                        </p>
                    </div>
                               
                         <img src="../public/image/costanera-baja.jpg" alt=" costanera baja de Paraná">
                  
                  </a>
            </article>
        </div>
        <div class="articuloSeis">
            <article class="articuloSeis">
                <a href="">
                    <span class="etiquetas">Parana 6</span>
                    <div class="info">
                        <p>
                             La costanera de Paraná un excelente lugar para estas vacaciones 
                        </p>
                    </div>
                               
                         <img src="../public/image/costanera-baja.jpg" alt=" costanera baja de Paraná">
                  
                  </a>
            </article>
        </div>
        </section>
     <!--   <section class="sectionSecundaria">
            <article class="artUno">
                <a href="">
                    <span class="etiquetas">Parana</span>
                    <div class="info">
                        <p>
                             La costanera de Paraná un excelente lugar para estas vacaciones 
                        </p>
                    </div>
                    <figure>           
                         <img src="../public/image/costanera-baja.jpg" alt=" costanera baja de Paraná">
                  </figure>
                  </a>
            </article>
            <article class="artDos">
                <a href="">
                    <span class="etiquetas">Parana</span>
                    <div class="info">
                        <p>
                             La costanera de Paraná un excelente lugar para estas vacaciones 
                        </p>
                    </div>
                    <figure>           
                         <img src="../public/image/costanera-baja.jpg" alt=" costanera baja de Paraná">
                  </figure>
                  </a>
            </article>
            <article class="artTres">
                <a href="">
                    <span class="etiquetas">Parana</span>
                    <div class="info">
                        <p>
                             La costanera de Paraná un excelente lugar para estas vacaciones 
                        </p>
                    </div>
                    <figure>           
                         <img src="../public/image/costanera-baja.jpg" alt=" costanera baja de Paraná">
                  </figure>
                  </a>
            </article>
            <article class="artCuatro">
                <a href="">
                    <span class="etiquetas">Parana</span>
                    <div class="info">
                        <p>
                             La costanera de Paraná un excelente lugar para estas vacaciones 
                        </p>
                    </div>
                    <figure>           
                         <img src="../public/image/costanera-baja.jpg" alt=" costanera baja de Paraná">
                  </figure>
                  </a>
            </article>
            <article class="artCinco">
                <a href="">
                    <span class="etiquetas">Parana</span>
                    <div class="info">
                        <p>
                             La costanera de Paraná un excelente lugar para estas vacaciones 
                        </p>
                    </div>
                    <figure>           
                         <img src="../public/image/costanera-baja.jpg" alt=" costanera baja de Paraná">
                  </figure>
                  </a>
            </article>
        </section>-->
    </main>
    <footer class="footer">
        <a href="#">y</a>
        <a href="#">f</a>
        <a href="#">c</a>
    </footer>    
</body>
</html>