

*{
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 40%);
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  
}
.body{
    
    margin-top: 20px;
    background-color: #F4F4F4;
    font-family: 'Roboto Condensed', sans-serif;
  
}

.titulo{
    color: black;
    font-size:60px;
}
.etiquetas{
    background-color: blue;
    
}

@media (max-width: 950px){
    .headerDesk{
        display: none;
    }
    .responsive {
        background-color: blue;
        display: flex;
      
       align-items: center;
    }
    .divLogo{
        flex-grow: 3;
    }
    #dropdownMenu2{
        background-color: black;
    }
    .sectionPrincipal{
        grid-template-columns: repeat(4, 1fr);
    }
   .articuloUno{
    grid-column: span 4;
   }
   .articuloDos{
    grid-column: 1 / span 2;
   }
   .articuloTres{
    grid-column: 3 / 5;
   }

   .articuloCuatro{
    grid-column: 1 / span 2;
   }
   .articuloCinco{
    grid-column: 3 / 5;
   }
   .articuloSeis{
    grid-column:2/4
   }

}
@media (max-width: 750px){
    .body{
        width: 100vw;
    }
    .sectionPrincipal{
        width: 100vw;
        grid-template-columns: 1fr;
    }
    .articuloUno{
        grid-column: span 1;
       }
       .articuloUno img{
        max-width: 100%;
       }
       .articuloDos{
        grid-column: span 1;
       }
       .articuloTres{
        grid-column: span 1;
       }
    
       .articuloCuatro{
        grid-column: span 1;
       }
       .articuloCinco{
        grid-column: span 1;
       }
       .articuloSeis{
        grid-column:span 1
       }
       img{
        min-width: 100%;
       }
       .artUno{
        max-width: 100%;
        max-height: 100%;
       
      
      
    
    }
    .artDos{
    
        max-width: 100%;
        max-height: 100%;
        
    
    }
    .artTres{
       
        max-width: 100%;
        max-height: 100%;
    
    }
    .artCuatro{
        
        max-width: 100%;
        max-height: 100%;
    
    }
    .artCinco{
       
        max-width: 100%;
        max-height: 100%;
    
    }
    .artSeis{
        max-width: 100%;
        max-height: 100%;
    
    }
}

@media (max-width: 370px){
.titulo{
    font-size: 40px;
}
}

