.artUno {
  position: relative;
}
.artUno p {
  position: absolute;
  bottom: 8px;
  right: 16px;
}
.artUno img {
  max-width: 100%;
}
.artUno span {
  position: absolute;
  top: 3px;
  left: 10px;
}

.artDos {
  position: relative;
}
.artDos p {
  position: absolute;
  bottom: 8px;
  right: 16px;
}
.artDos img {
  max-width: 100%;
}
.artDos span {
  position: absolute;
  top: 3px;
  left: 10px;
}

.artTres {
  position: relative;
}
.artTres p {
  position: absolute;
  bottom: 8px;
  right: 16px;
}
.artTres img {
  max-width: 100%;
}
.artTres span {
  position: absolute;
  top: 3px;
  left: 10px;
}

.artCuatro {
  position: relative;
}
.artCuatro p {
  position: absolute;
  bottom: 8px;
  right: 16px;
}
.artCuatro img {
  max-width: 100%;
}
.artCuatro span {
  position: absolute;
  top: 3px;
  left: 10px;
}

.artCinco {
  position: relative;
}
.artCinco p {
  position: absolute;
  bottom: 8px;
  right: 16px;
}
.artCinco img {
  max-width: 100%;
}
.artCinco span {
  position: absolute;
  top: 3px;
  left: 10px;
}

.artSeis {
  position: relative;
}
.artSeis p {
  position: absolute;
  bottom: 8px;
  right: 16px;
}
.artSeis img {
  max-width: 100%;
}
.artSeis span {
  position: absolute;
  top: 3px;
  left: 10px;
}

.sectionSecundaria {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.artUno {
  max-width: 45%;
  max-height: 100%;
  margin: 5px;
}

.artDos {
  margin: 5px;
  max-width: 45%;
  max-height: 100%;
}

.artTres {
  margin: 5px;
  max-width: 45%;
  max-height: 100%;
}

.artCuatro {
  margin: 5px;
  max-width: 45%;
  max-height: 100%;
}

.artCinco {
  margin: 5px;
  max-width: 45%;
  max-height: 100%;
}

.artSeis {
  max-width: 45%;
  max-height: 100%;
}

.imgSecDos {
  width: 450px;
  height: 300px;
}

.aside {
  position: relative;
  margin: 20px;
  width: 90% vw;
}
.aside div {
  max-width: 100%;
}
.aside img {
  width: 100%;
  height: 200px;
}
.aside p {
  position: absolute;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E2C275;
  padding: 30px;
}

.footer i {
  font-size: 40px;
  margin: 0 20px;
}

.footer i:hover {
  color: greenyellow;
}

.sectionPrincipal {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.articuloUno {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  grid-row: 1/3;
  grid-column: 1/3;
}

.articuloUno p {
  font-size: 20px;
  /*-webkit-text-stroke: 1px black;*/
  color: white;
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.articuloUno img {
  min-width: 100%;
}

.articuloUno span {
  position: absolute;
  top: 3px;
  left: 10px;
}

.articuloDos {
  position: relative;
}

.articuloDos article {
  height: 100%;
}

.articuloDos p {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.articuloDos img {
  width: 100%;
  height: 100%;
}

.articuloDos span {
  position: absolute;
  top: 3px;
  left: 10px;
}

.articuloTres {
  position: relative;
}

.articuloTres p {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.articuloTres article {
  height: 100%;
}

.articuloTres img {
  max-width: 100%;
  height: 100%;
}

.articuloTres span {
  position: absolute;
  top: 3px;
  left: 10px;
}

.articuloCuatro {
  position: relative;
  max-width: 100%;
  max-height: 100%;
}

.articuloCuatro p {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.articuloCuatro article {
  height: 100%;
}

.articuloCuatro img {
  height: 100%;
  max-width: 100%;
}

.articuloCuatro span {
  position: absolute;
  top: 3px;
  left: 10px;
}

.articuloCinco {
  position: relative;
  max-width: 100%;
  max-height: 100%;
}

.articuloCinco article {
  height: 100%;
}

.articuloCinco p {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.articuloCinco img {
  height: 100%;
  max-width: 100%;
}

.articuloCinco span {
  position: absolute;
  top: 3px;
  left: 10px;
}

.articuloSeis {
  position: relative;
  max-width: 100%;
  max-height: 100%;
}

.articuloSeis p {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.articuloSeis article {
  width: 100%;
}

.articuloSeis img {
  max-height: 100%;
  width: 100%;
}

.articuloSeis span {
  position: absolute;
  top: 3px;
  left: 10px;
}

.responsive {
  display: none;
}

.divLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: flex-start;
  background-color: blue;
}

.nav a {
  text-decoration: none;
  padding: 10px;
  color: azure;
}

.nav a:hover {
  color: black;
  background-color: white;
}

.divTop {
  display: flex;
}

.redes {
  width: 100vw;
  margin-right: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.redes i {
  color: black;
}

.redes i:hover {
  color: red;
}

.buscar {
  display: flex;
  flex-direction: row;
  margin-left: 5px;
}

.redes i {
  padding: 5px;
}

/*# sourceMappingURL=style.css.map */
